/*  ********************************************************
 *   Woocommerce Messages - Add to cart Success
 *  ********************************************************
 */
 .woocommerce-message {
  line-height: 26px;
  line-height: 26px;
  padding: 5px 10px;
  margin-bottom: spacer();
  @include em('font-size', 13px);
  background: lighten(color(gray-lightest), 10%);
  border-bottom: 2px solid color(success);
  @extend %clx;
  .product-image {
    float: left;
    margin-right:10px;
    margin-left: -5px;
    img {
      float: left;
    }
  }

  .product-name {
    float: left;
    a {
      color:color(success);
    }
    i {
      float: left;
      margin-right: 10px;
    }
  }
  .product-link {
    float: right;
    a {
      @include button(color(success), batch);
    }
  }
  @include to(3) {
    text-align: center;
    line-height: 1.2;
    i, .product-image {
      @include hide();
    }
  }
  @include to(1) {
    @include em('font-size', 14px);
    .product-name {
      a {display: block};
      width: 100%;
    }
    .product-link {
      float: none;
      clear: both;
      padding-top: spacer(.25);
      padding-bottom: spacer(.25) / 2;
    }
  }
}
