table.container {
    &.navigation {
        background: $dark-gray;
    }
    table.menu td.menu-item, table.menu th.menu-item {
        padding-top: 12px;
        padding-bottom: 10px;
        a {
            color: white;
            font-size: 12px;
            font-weight: bold;
            color: white!important;
        }
    }
}