/*  ********************************************************
 *   Checkout pages
 *  ********************************************************
 */

 #ats-checkout {
  .left {
    @include span(7);
  }
  .right {
    @include span(5);
  }
}
