/*  ********************************************************
 *   404 Page - requires image to be created on 404.php
 *  ********************************************************
 */

#page_404 {
    text-align: center;
    .image_404 {
        text-align: center;
        padding: 0 10px;
        img {
            display: inline-block;
            max-width: 100%;
        }
    }
    p {}
    a {}
}
