/*  ********************************************************
 *   404 Page - requires image to be created on 404.php
 *  ********************************************************
 */

 #page-404 {
  text-align: center;
  padding-bottom: spacer();
  font-size: 14px;

  h1 {
    font-size: 150px;
    font-weight: 900;
    margin-bottom: -20px;
    line-height: 150px;
    margin-top: 0;

    @include from(2) {
      margin-bottom: 0;
      margin-top: 61px;
      font-size: 250px;
      line-height: 250px;
    }
  }

  p {
    margin: 32px 0 28px;
    font-size: 18px;

    @include from(2) {
      margin: 42px 0 69px;
    }
  }
  a.button {
    background: color(gray);
    padding: 20px 40px 20px;
    line-height: 1;
    text-transform: uppercase;
    color: white;
    clear: both;
    display: inline-block;
    margin-bottom: 23px;
    &:hover {
      color: white!important;
      background: color(brand);
    }

    @include from(2) {
      margin-bottom: 70px;
    }
  }
}
