/*  ********************************************************
 *   Gravity forms form styling
 *  ********************************************************
 */


/**
 * Labels with asterix
 * ---
 */

$labels-display: true !default; // Show or hide labels
$labels-font-size: $font-size-sm !default; // Labels font size
$labels-font-color: color( text ) !default; // Labels font color
$labels-font-weight: $font-weight-bold !default; // Labels font weight
$labels-margin: 0 0 5px 0 !default; // Margin around labels
// Required asterix
$labels-asterix-color: color( danger) !default; // Asterix color
$labels-asterix-margin: 0 0 0 3px !default; // margins for equired asterix (*)
$labels-asterix-font-size: $font-size-sm !default; // Font size for required asterix (*)

/**
 * Inputs
 * ---
 */

$input-border-radius:0; // Border radious
$input-border-width:0; // Border width
$input-border-color: color(border); // Border color
$input-border-style: solid; // none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit
$input-bacground-color: color( gray-lightest ); // Input bacground color
$input-font-size: $font-size-base;
$input-text-color: color(text);
// Paddings
$input-padding-top: 100px;
$input-padding-bottom: $input-padding-top;
$input-padding-left: $input-padding-top;
$input-padding-right: $input-padding-top;
// Widths
$input-width: 100%;
// Placeholder
$input-placeholder-color: white;
$input-placeholder-font-style: italic;
$input-placeholder-font-weight: $font-weight-normal;
$input-placeholder-font-size: $input-font-size;

/**
 * Textarea // Per default styles are infernited from input
 * @content inclided
 * ---
 */

$textarea-border-radius:$input-border-radius; // Border radious
$textarea-border-width:$input-border-width; // Border width
$textarea-border-color: $input-border-color; // Border color
$textarea-border-style: $input-border-style; // none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit
$textarea-bacground-color: $input-bacground-color; // Input bacground color
$textarea-font-size: $input-font-size;
$textarea-text-color: $input-text-color;
// Paddings
$textarea-padding-top: $input-padding-top;
$textarea-padding-bottom: $textarea-padding-top;
$textarea-padding-left: $textarea-padding-top;
$textarea-padding-right: $textarea-padding-top;
// Widths
$textarea-width: $input-width;
// Placeholder
$textarea-placeholder-color: $input-placeholder-color;
$textarea-placeholder-font-style: $input-placeholder-font-style;
$textarea-placeholder-font-weight: $input-placeholder-font-weight;
$textarea-placeholder-font-size: $input-placeholder-font-size;
$textarea-resize: none;

/**
 * Fields description
 * @content inclided
 * ---
 */

 $f-description-color: color( text) !default;
 $f-description-font-weight: $font-weight-normal !default;
 $f-description-font-size: $font-size-xs !default;
 $f-description-font-style: inherit !default;
 $f-description-margins: 5px 0 0 0 !default;

/**
 * Characters counter ( inhernits from description)
 * @content inclided
 * ---
 */

 $f-counter-color: $f-description-color !default;
 $f-counter-font-weight: $f-description-font-weight !default;
 $f-counter-font-size: $f-description-font-size !default;
 $f-counter-font-style: $f-description-font-style !default;
 $f-counter-margins: $f-description-margins !default;

/**
 * Select // Per default styles are infernited from input
 * @content inclided
 * ---
 */

$select-border-radius:$input-border-radius; // Border radious
$select-border-width:$input-border-width; // Border width
$select-border-color: $input-border-color; // Border color
$select-border-style: $input-border-style; // none, hidden, dotted, dashed, solid, double, groove, ridge, inset, outset, initial, inherit
$select-bacground-color: $input-bacground-color; // Input bacground color
$select-font-size: $input-font-size;
$select-text-color: $input-text-color;
// Paddings
$select-padding-top: $input-padding-top;
$select-padding-bottom: $select-padding-top;
$select-padding-left: $select-padding-top;
$select-padding-right: $select-padding-top;
// Widths
$select-width: $input-width;
// Placeholder
$select-placeholder-color: $input-placeholder-color;
$select-placeholder-font-style: $input-placeholder-font-style;
$select-placeholder-font-weight: $input-placeholder-font-weight;
$select-placeholder-font-size: $input-placeholder-font-size;
$select-resize: none;

/*  ********************************************************
 *   Styles
 *  ********************************************************
 */

 .gform_wrapper *,
 .gform_wrapper:after,
 .gform_wrapper:before {
  box-sizing: border-box!important;
}

.gform_wrapper {
  .gform_body {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      text-indent: 0;
    }
  }
  label {
    @include gf-labels() {}
    ;
  }
  input {
    @include gf-inputs() {}
    ;
  }
  textarea {
    @include gf-textarea() {}
  }
  select {
    @include gf-select();
  }
    /* Fields descriptions */
    .gfield_description {
      @include gf-description();
    }
    /* Caracter counter */
    .ginput_counter {
      @include gf-counter();
    }
    /* Checkboxes */
    @include gf-checkboxes() {}
    ;
    /* Remove the stupid outer glow in Webkit */
    input:focus,
    select:focus,
    textarea:focus {
      outline: 0!important;
    }
  }
