.woocommerce {
  // padding-bottom: spacer();
}

body {
  table.shop_table tbody tr.cart_item td.product-thumbnail img {
    max-height: auto !important;
    width: 100%;
    max-width: 80px !important;
  }
}
