/*  ********************************************************
 *   Middle section
 *  ********************************************************
 */
 #header-middle {
  .search-section, .cart-section {
    text-align: right;
  }


  /* Topography */
  .logo-section {
    @include span(4);
  }
  .search-section {
    @include span(5);
  }
  .cart-section {
    @include span(3)
  }
  /* When navigation breaks */
  @include nav-break() {
    .logo-section {
      display: none;
    }
    .search-section, .cart-section {
      @include span(6);
    }
  }
}
