/*  ********************************************************
 *   Middle section
 *  ********************************************************
 */

 @mixin search-box() {

  $search-height: 34px;
  $search-padding: 15px;
  position: relative;

  @include icon(search);
  &:before {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    background: color(brand);
    color: white;
    padding: 7px 10px;
  }

  .aws-search-form:after {
    @include opacity(0);
    content: "";
    position: absolute;
    right: 38px;
    top: 50%;
    transform: translatey(-50%);
    background: url(img/theme/preloader.svg) 50% 50% no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    @extend %transition;
  }

  .processing:after {
    @include opacity(1);
  }

  label {
    display: none;
  }
  input,
  button {
    border: 1px solid color(border);
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: $search-height;
    line-height: $search-height;
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
    outline: none!important;
    outline: none!important;
  }
  button {
    width: $search-height;
    text-align: center;
    border-left: none;
    background: color(brand);
    border-color: color(brand);
    @extend %transition;
    @include icon(search) {
      color: white;
    }
    @include hover() {
      background: darken(color(brand), 10%);
    }
  }
  input {
    padding: 0 $search-padding;
    width:calc( 100% - #{$search-height});
    border-right: none;
  }
  .icon-caret-left {
    @include em('font-size', 19px);
    @include scut-center-transform(y);
    color: color(brand);
    position: absolute;
    right: $search-height - 1px;
  }
  @content;
}



/* Search Results */

@mixin search-result() {
  position: absolute;
  overflow-x: hidden;
  max-height: 60vh;

  ul {
    @include scut-list-unstyled;
    margin-top: 35px;
  }

  .aws_no_result {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: 14px;
  }
  .aws_result_item {
    max-height: 60vh!important;
    overflow-y: auto;
    padding: 10px 5px;
    clear: both;
    text-align: left;
    @extend %clx;
    @include _even() {
      background-color: darken(color(gray-lightest), 2%);
    }
    @include _odd() {
      background-color: white;
    }
    &:hover {
      background: darken(color(gray-lightest), 5%);
      cursor: pointer;
    }

    .aws_result_image {
      display: block;
      max-width: 50px;
      float: left;
      @extend %clx;
      img {
        max-width: 100%;
      }
    }
    .aws_result_content {
      font-size: 12px;
      float: right;
      width: calc(100% - 60px);
    }
    /* Title */
    .aws_result_title {
      display: block;
      margin-top: -2px;
      font-weight: bold;
      @include em('font-size', 18px);
      margin-bottom: 5px;
      color: color(text);
      strong {
        color: color(brand);
      }
    }
    .aws_result_excerpt {
      @include em('font-size', 14px);
      color: color(text);
      display:block;
      line-height: 1.4;
    }
    .aws_result_price {
      display: block;
      margin-top: 5px;
      color: color(text);
    }
  }
}

.aws-search-result {
  @include search-result();
}

#header-middle {
  @include breakpoint(min-width $nav-breakpoint) {
    padding: spacer(.75) 0;
  }
  border-top: 1px solid color(border);
  @include em('font-size', 14px);
  .susy-reset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include nav-break() {
    .logo-section,
    .cart-section {
      @include scut-hide-visually;
    }
    .search-section {
      float: none!important;
      width: 100%!important;
      margin: spacer(.5) 0 0;
      display: none;
    }
  }
  .logo-section {
    @include span(4);
  }
  .search-section {
    @include span(4.5);
    text-align: right;
    @include search-box();
    @include breakpoint(min-width $nav-breakpoint) {
      display: block!important;
    }
  }
  .cart-section {
    @include span(3.5);
    text-align: right;
    line-height: 30px;
    #the-cart {
      float: right;
      font-weight: bold;
      span {
        &.amount {
          margin-right: 5px;
        }
        &.button {
          display: inline-block;
        }
      }
      @include from(4) {
        span {
          &.colon {
            display: inline-block;
            padding: 0 5px;
          }
          &.button {
            text-transform: uppercase;
          }
        }
      }
      i {
        float: left;
        margin-right: 10px;
        color: color(text);
        @include em('font-size', 20px);
        @include from(4) {
          @include em('font-size', 20px);
        }
      }
    }
    .price-break {
      font-size:12px;
      margin-top:-2px;
      color:lighten(color(text), 2%);
      span {
        line-height: 1;
        &.total-tax, &.shipping {
          display:block;
          font-weight: 400;
        }
        &.shipping {
          margin-top: 6px;
          font-size:11px;
        }
      }
    }
  }
  @include to(3) {
    .search-section {
      @include span(5.8);
    }
    .cart-section {
      @include span(4.2);
    }
  }
}
