/*  ********************************************************
 *   Middle section
 *  ********************************************************
 */

 @mixin search-box() {

  $search-height: 34px;
  $search-padding: 15px;
  position: relative;
  label {
    display: none;
  }
  input,
  button {
    border: 1px solid color(border);
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: $search-height;
    line-height: $search-height;
    display: block;
    box-sizing: border-box;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
    outline: none!important;
    outline: none!important;
  }
  button {
    width: $search-height;
    text-align: center;
    border-left: none;
    background: color(brand);
    border-color: color(brand);
    @extend %transition;
    @include icon(search) {
      color:white;
    }
    @include hover() {
      background: darken(color(brand), 10%);
    }
  }
  input {
    padding: 0 $search-padding;
    width:calc( 100% - #{$search-height});
    border-right: none;
  }
  .icon-caret-left {
    @include em('font-size', 19px);
    @include scut-center-transform(y);
    color: color(brand);
    position: absolute;
    right: $search-height - 1px;
  }
  @content;
  /* Search Results */
  .dgwt-wcas-suggestions-wrapp {
    background-color:white!important;
    top: $search-height;
    .dgwt-wcas-suggestion {
      padding: 10px 5px;
      clear: both;
      text-align: left;
      @extend %clx;
      background-color:darken(color(gray-lightest),2%);
      @include _odd() {
        background-color:white;
      }
      &:hover {
        background:darken(color(gray-lightest),5%);
        cursor: pointer;
      }
    }
    .dgwt-wcas-si {
      display: block;
      max-width: 50px;
      float: left;
      @extend %clx;
      img {
        max-width:100%;
      }
    }
    .dgwt-wcas-content-wrapp {
      font-size: 12px;
      float: right;
      width: calc(100% - 60px);
    }
    /* Title */
    .dgwt-wcas-st {
      display: block;
      margin-top: -2px;
      font-weight: bold;
      @include em('font-size', 18px);
      margin-bottom: 5px;
      strong {
        color:color(brand);
      }
    }
    .dgwt-wcas-sp {
      display: block;
      margin-top: -5px;
    }
    .dgwt-wcas-sd {
      @include em('font-size', 14px);
      margin-top: 5px;
    }
  }
}

#header-middle {
  @include breakpoint(min-width $nav-breakpoint) {
    padding: spacer(.75) 0;
  }
  border-top: 1px solid color(border);
  @include em('font-size', 14px);
  .susy-reset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include nav-break() {
    .logo-section,
    .cart-section {
      @include scut-hide-visually;
    }
    .search-section {
      float: none!important;
      width: 100%!important;
      margin: spacer(.5) 0 0;
      display: none;
    }
  }
  .logo-section {
    @include span(4);
  }
  .search-section {
    @include span(4.5);
    text-align: right;
    @include search-box();
    @include breakpoint(min-width $nav-breakpoint) {
      display: block!important;
    }
  }
  .cart-section {
    @include span(3.5);
    text-align: right;
    line-height: 30px;
    #the-cart {
      float: right;
      font-weight: bold;
      span {
        &.amount {
          margin-right: 5px;
        }
        &.button {
          display: inline-block;
        }
      }
      @include from(4) {
        span {
          &.colon {
            display: inline-block;
            padding: 0 5px;
          }
          &.button {
            text-transform: uppercase;
          }
        }
      }
      i {
        float: left;
        margin-right: 10px;
        color: color(text);
        @include em('font-size', 20px);
        @include from(4) {
          @include em('font-size', 20px);
        }
      }
    }
  }
  @include to(3) {
    .search-section {
      @include span(5.8);
    }
    .cart-section {
      @include span(4.2);
    }
  }
}
