/*  ********************************************************
 *   Main Navigation
 *  ********************************************************
 */

 $total-menu-items: 7;
 #main-nav-container {
  background: nav_color(background);
  @include nav-break() {
    background: transparent;
  }

  .nav-toggle span {
    position: absolute;
    right: 0;
    margin-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    color: color(gray-light);
    margin-top: 1px;
  }
}

#navigation {
  @include nav-break() {
    margin-top: spacer(.5);
    margin-bottom: spacer(.5);
  }
  @include from(3) {
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    display: none;
  }
  @include nav-break() {
    background: transparent;
    position: relative;
    img {
      display: block;
      float: left;
    }
  }
  /* Landscape */
  &.navigation-landscape {
    #menu-header {
      display: flex;
      >li {
        width: 100%;
        // width: (100% / $total-menu-items);
        text-align: center;
        position: relative;
        text-transform: uppercase;
        &:after {
          content: "";
          width: 1px;
          height: 100%;
          background: lighten(color(gray), 5%);
          position: absolute;
          right: -1px;
          top: 0;
          display: block;
        }
        @include _last-child() {
          &:after {
            display: none;
          }
        }
        a {
          width: 100%;
        }
        .submenu-indicator {
          position: absolute;
          right: 20px;
        }
        /* Lower tier */
        li {
          position: relative;
          &:after {
            content: "";
            height: 1px;
            width: 100%;
            background: lighten(color(gray), 5%);
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
          }
          a {
            @include em('font-size', 14px);
          }
          .submenu-indicator {
            @include scut-center-transform(y);
            right: 20px;
            margin-top: 0;
          }
        }
      }
    }
  }
  /* Portrait */
  &.navigation-portrait {
    @include nav-break() {
      height: 30px;
    }
  }
}




/* Sticky Nav */

// .sticky-main-nav {
//   position: fixed;
//   width: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   opacity: .5;
//   @extend %transition;
//   &:hover {
//     opacity: .9;
//   }
//   .navigation {
//     height: 36px;
//     @extend %transition;
//   }
//   #menu-header {
//     >li {
//       a {
//         @extend %transition;
//         height: 36px;
//         line-height: 36px;
//         @include em('font-size', 14px);
//       }
//     }
//   }
// }

.main-nav-hide-desktop {
  @include from(2) {
    display: none !important;
  }
}
