/*  ********************************************************
 *   Main Navigation
 *  ********************************************************
 */

 $total-menu-items: 7;
 #main-nav-container {
  background: nav_color(background);
}

#navigation {
  /* Landscape */
  &.navigation-landscape {
    #menu-header {
      >li {
        width: (100% / $total-menu-items);
        text-align: center;
        position: relative;
        &:after {
          content: "";
          width: 1px;
          height: 100%;
          background: lighten(color(gray), 5%);
          position: absolute;
          right: -1px;
          top: 0;
          display: block;
        }
        @include _last-child() {
          &:after {
            display: none;
          }
        }
        a {
          width: 100%;
        }
        .submenu-indicator {
          position: absolute;
          right: 20px;
        }
        /* Lower tier */
        li {
          position: relative;
          &:after {
            content: "";
            height: 1px;
            width: 100%;
            background: lighten(color(gray), 5%);
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
          }
          a {
            @include em('font-size', 14px);
          }
          .submenu-indicator {
            @include scut-center-transform(y);
            right: 20px;
            margin-top: 0;
          }
        }
      }
    }
  }
  /* Portrait */
  &.navigation-portrait {}
}


/* Sticky Nav */

.sticky-main-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: .5;
  @extend %transition;
  &:hover {
    opacity: .9;
  }
  .navigation {
    height: 36px;
    @extend %transition;
  }
  #menu-header {
    >li {
      a {
       @extend %transition;
       height: 36px;
       line-height: 36px;
       @include em('font-size', 14px);
     }
   }
 }
}
