/*  ********************************************************
 *   Top
 *  ********************************************************
 */

 $colums-height:34px;
 $columns-padding:12px;
 @mixin header-list {
  display: inline-block;
  line-height: $colums-height;
  padding: 0 $columns-padding;
  color: color(text);
  position: relative;
  height: $colums-height;
  min-width: $colums-height;
  text-align: center;
  @include nav-break() {
    text-align: center;
    i {
      float: none!important;
    }
  }
  &:after,
  &:before {
    content: "";
    height: $colums-height;
    width: 1px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: color(border);
  }
  &:before {
    display: none;
    left: 0;
    right: auto;
  }
  i {
    float: left;
    display: inline-block;
    margin-right: $columns-padding;
    @include nav-break() {
      margin-right: 0;
    }
  }
  @content;
}

#top-banner {
  background: #9b3c3d;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}

#header-top {
  font-size: 14px;
  height: $colums-height;
  // overflow-y: hidden;
  @include to(1) {
    span.visible {
      font-weight: bold;
      @include em('font-size', 12px);
      text-transform: uppercase;
    }
  }
  @include breakpoint(max-width 290px) {
    span.visible {
      display: none!important;
    }
  }
  @include nav-break() {
    span {
      display: none;
      &.visible {
        display: inline-block;
        line-height: $colums-height;
        float: right;
        margin-left: 5px;
      }
    }
  }
  .left {
    @include span(6)
  }
  .right {
    @include span(6);
  }
  @include to(2) {
    .left {
      @include span(7.4);
    }
    .right {
      @include span(4.6);
    }
  }
  @include to(1) {
    li {
      display: none;
      @include _first-last() {
        display: block;
      }
    }
    .right {
      @include span(7);
    }
    .left {
      @include span(5);
    }
  }
  @include breakpoint(max-width 290px) {
    .left {
      @include span(4);
    }
    .right {
      @include span(8);
    }
  }
  .left {
    ul {
      @include scut-list-floated();
      li {
        @include _first-child() {
          a {
            @include breakpoint(max-width 290px) {
              padding: 0;
            }
            &:before {
              display: block!important;
            }
          }
        }
      }
      #login-tab {
        @include to(4) {
          a {
            padding: 0;
            i {
              margin-right: 0;
              width:$colums-height;
            }
          }
          span {
            display: none!important;
          }
        }
      }
      a {
        @include header-list() {
        }
      }
    }
  }
  .right {
    .clx {
      >div {
        float: right;
        &.tel-number {
          font-weight: bold;
          span {
            @include em('font-size', 14px);
          }
        }
        &#the-cart-mobile {
          display: none;
          @include nav-break() {
            display: block;
            a {
              padding-left: $columns-padding;
              &:before {
                display: block!important;
              }
            }
            i {
              float: left!important;
            }
            span {
              display: block!important;
              float: left;
              margin-left: $columns-padding / 2;
              margin-right: $columns-padding;
            }
          }
        }
        a {
          @include header-list() {
            @include nav-break() {
              padding: 0;
            }
          }
          ;
        }
        &.email {
          a {
            &:before {
              display: block;
              @include nav-break() {
                display: none;
              }
            }
          }
        }
        &.search-toggle {
          display: none;
          @include nav-break() {
            display: block;
          }
          a {
            &:before {
              display: none!important;
            }
            padding: 0;
            i {
              margin-right: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
