/*  ********************************************************
 *   General Back End Styles
 *  ********************************************************
 */
/* Acf */

// Hide headers
.hide {
  display: none;
}
