/*  ********************************************************
 *   Dashboard navigation
 *  ********************************************************
 */

 .woocommerce-account {
  .woocommerce {
    @include container();
    .woocommerce-MyAccount-navigation {
      @include span(2 after);
      ul {
        @include scut-list-unstyled();
        li {
          background: color(gray-dark);
          &.is-active {
            a {
              background: darken(color(gray-dark), 10%);
            }
          }
          @include _last-child() {
            a {
              border-bottom: none;
            }
          }
          a {
            display: block;
            color: white;
            border-bottom: 1px solid lighten(color(gray-dark), 10%);
            padding: 8px;
            @include em('font-size', 12px);
            @include hover() {
              background: darken(color(gray-dark), 10%);
              color:white!important;
            }
          }
        }
      }
    }
    .woocommerce-MyAccount-content {
      @include span(10 after last);
    }
  }
}
