/*  ********************************************************
 *   General Visual Back end components
 *  ********************************************************
 */

 .vc_hidden {
  display: none;
}
