<spacer size="10"></spacer>
<container class="links">
    <row class="collapse">
        <columns small="6">
            <p style="font-size: 80%">
                <a href="{{website}}" style="color:#000000; text-decoration: none;" target="_blank">
                    <span mc:edit="visit_website_text">Visit website</span>
                </a>
            </p>
        </columns>
        <columns small="6" style="text-align: right">
            <p style="text-align: right; font-size: 80%"  class="text-right">
                <a href="*|ARCHIVE|*" style="color:#000000; text-decoration: none; text-align: right" target="_blank">
                    <span mc:edit="view_in_browser_text">View in browser</span>
                </a>
            </p>
        </columns>
    </row>
</container>
<spacer size="10"></spacer>