<spacer size="10"/>
<container class="links">
    <row class="collapse">
        <columns small="6">
            <p style="font-size: 80%">
                <a href="{{website}}" style="color:#000000; text-decoration: none;" target="_blank">
                    <span>
                        <singleline label="Visit website">
                            Visit website
                        </singleline>
                    </span>
                </a>
            </p>
        </columns>
        <columns small="6" style="text-align: right">
            <p class="text-right" style="text-align: right; font-size: 80%">
                <unsubscribe style="color:#000000; text-decoration: none; text-align: right">
                        <span>
                            <singleline label="Unsubscribe">
                                Unsubscribe
                            </singleline>
                        </span>
                </unsubscribe>
            </p>
        </columns>
    </row>
</container>
<spacer size="10"/>
