<layout label="Navigation">
    <container class="navigation">
        <row class="collapse">
            <columns>
                <center>
                  <menu class="horizontal">
                        <item href="{{website}}shop/" target="_blank"><singleline>SHOP</singleline></item>
                        <item href="{{website}}product-category/cutting/" target="_blank"><singleline>CUTTING</singleline></item>
                        <item href="{{website}}product-category/drilling/" target="_blank"><singleline>DRILLING</singleline></item>
                        <item href="{{website}}product-category/grinding/" target="_blank"><singleline>GRINDING</singleline></item>
                        <item href="{{website}}product-category/polishing/" target="_blank"><singleline>POLISHING</singleline></item>
                        <item href="{{website}}product-category/profiling/" target="_blank"><singleline>PROFILING</singleline></item>
                        <item href="{{website}}product-category/fitting-kits/" target="_blank"><singleline>FITTING KITS</singleline></item>
                </menu>
            </center>
        </columns>
    </row>
</container>
</layout>