<container class="navigation">
    <row class="collapse">
        <columns>
            <center>
              <menu class="horizontal">
                <item href="{{website}}shop/" target="_blank">SHOP</item>
                <item href="{{website}}product-category/cutting/" target="_blank">CUTTING</item>
                <item href="{{website}}product-category/drilling/" target="_blank">DRILLING</item>
                <item href="{{website}}product-category/grinding/" target="_blank">GRINDING</item>
                <item href="{{website}}product-category/polishing/" target="_blank">POLISHING</item>
                <item href="{{website}}product-category/profiling/" target="_blank">PROFILING</item>
                <item href="{{website}}product-category/fitting-kits/" target="_blank">FITTING KITS</item>
            </menu>
        </center>
    </columns>
</row>
</container>