{{> spacer-10 }}
<container class="product product-1-2">
    <row>
        <columns small="12" large="12">
            <img src="http://placehold.it/548x200/212223" mc:edit="feature_left_image" style="vertical-align: bottom; width:100%;" />
            <spacer size="15" />
            <h4>Crown Segment Sintered Diamond Holesaw M14</h4>
            <p>M14 Crown segment sintered holesaw designed for hard materials such as granite.</p>
            <a href="https://www.atsdiamondtools.co.uk/product/crown-segment-sintered-diamond-holesaw-m14/" target="_blank"><img src="{{assets}}/read-more.jpg" style="vertical-align: bottom;" /></a>
        </columns>
    </row>
</container>
{{> spacer-10 }}