<layout label="Product - 50% Width">
    <container class="product product-1-2">
        <row>
            <columns small="12" large="6">
                <img src="http://placehold.it/266x200/212223" editable="true" width="266" label="Product image" style="vertical-align: bottom; width:100%;" />
                 <spacer size="10" />
                <h4 style="margin-top:0; margin-bottom:10px;" label="Product title" repeatertitle="true">Product Title</h4>
                <multiline label="Product Description"><p>Product description</p></multiline>
                {{> read-more-button}}
            </columns>
            <columns small="12" large="6">
                <img src="http://placehold.it/266x200/212223" editable="true" width="266" label="Product image" style="vertical-align: bottom; width:100%;" />
                 <spacer size="10" />
                <h4 style="margin-top:0; margin-bottom:10px;">Product Title</h4>
                <multiline label="Product Description"><p>Product description</p></multiline>
                {{> read-more-button}}
            </columns>
        </row>
    </container>
</layout>