<layout label="Product - 50% Width">
    <container class="product product-1-2">
        <row>
            <columns large="6" small="12">
                <img editable="true" label="Product image" src="http://placehold.it/266x200/212223" style="vertical-align: bottom; width:100%;" width="266"/>
                <spacer size="10"/>
                <h4 style="margin-top:0; margin-bottom:10px;">
                    <singleline label="Product Title">
                        Product Title
                    </singleline>
                </h4>
                <multiline label="Product Description">
                    <p>
                        Product description
                    </p>
                </multiline>
                {{> read-more-button}}
            </columns>
            <columns large="6" small="12">
                <img editable="true" label="Product image" src="http://placehold.it/266x200/212223" style="vertical-align: bottom; width:100%;" width="266"/>
                <spacer size="10"/>
                <h4 style="margin-top:0; margin-bottom:10px;">
                    <singleline label="Product Title">
                        Product Title
                    </singleline>
                </h4>
                <multiline label="Product Description">
                    <p>
                        Product description
                    </p>
                </multiline>
                {{> read-more-button}}
            </columns>
        </row>
    </container>
</layout>