<layout label="Product - Full Width">
<container class="product product-1-2">
    <row>
        <columns small="12" large="12">
            <img src="http://placehold.it/548x200/212223" editable="true" width="548" label="Product image" style="vertical-align: bottom; width:100%;" />
            <spacer size="10" />
            <h3 style="margin-top:0px; margin-bottom:10px;"><singleline label='Product Title'>Product Title</singleline></h3>
            <multiline label="Product Description"><p>Product description</p></multiline>
            {{> read-more-button}}
        </columns>
    </row>
</container>
</layout>