<layout label="Spacer - 15px">
<container>
    <row>
        <columns>
            <singleline><span style="font-size:15px; line-height: 15px; height:15px;">&nbsp;</span></singleline>
        </columns>
    </row>
</container>
</layout>
<layout label="Spacer - 20px">
<container>
    <row>
        <columns>
            <singleline><span style="font-size:20px; line-height: 20px; height:20px;">&nbsp;</span></singleline>
        </columns>
    </row>
</container>
</layout>
<layout label="Spacer - 30px">
<container>
    <row>
        <columns>
            <singleline><span style="font-size:30px; line-height: 30px; height:30px;">&nbsp;</span></singleline>
        </columns>
    </row>
</container>
</layout>