/*  ********************************************************
 *   Single product settings
 *  ********************************************************
 */

 #single-product-container {

  // Product Title
  .product-top-colleterals, .product-header {
    display: none;
    @include from(3) {
      &.top {
        display: block;
      }
    }
    @include to(3) {
      &.bottom {
        display: block;
        clear: both;
        margin-top: spacer(.5);
        padding-top: spacer(.5);
        border-top:1px solid color(border);
        .product-price {
          margin-top: 0;
        }
      }
    }
  }
  .product-header {
    position: relative;
  }
  h2 {
    @include em('font-size', 22px);
    font-weight: bold;
    @include from(3) {
      position: relative;
    }
    line-height: 1.2;
    margin: 0;

    #product-option {
      position: absolute;
      bottom: -18px;
      left: 0;
      font-size: 12px;
    }
    @include to(2) {
      .prod_Name {
        display: none;
      }
      #product-option {
        position: absolute;
        right: 0;
        font-size:20px;
        bottom:auto;
        left:auto;
        font-size:12px;
        @include scut-center-transform(y);
      }
    }

    #oos {
      color: color(danger);
    }
  }
  // Price
  .product-price {
    margin: spacer() 0;
    @include to(2) {
      margin-top: - spacer(.5);
      margin-bottom: spacer(.5);
    }
    color: color(brand);
    @include em('font-size', 20px);
    font-weight: bold;
    p {
      margin: 0;
    }
  } // Colleterals
  .product-top-colleterals {
    border-top: 1px solid color(border);
    border-bottom: 1px solid color(border);
    @include em('font-size', 12px);
    padding: spacer(.25) 0;
    .category,
    .sku {
      float: left;
      width: 50%;
    }
    .sku {
      text-align: right;
    }
  } // Short description
  .product-short {
    margin: spacer(1) 0;
    @include to(2) {
      margin-top: 0;
    }
    @include em('font-size', 14px);
    p {
      @include _last-child() {
        margin-bottom: 0;
      }
    }
  } // Variation vrapper
  #variation-wrapper {
    display: none;
    &.has-variation,
    &.off-stock {
      display: block;
      border-top: 1px solid color(border);
      padding-top: spacer(.5);
    }
    .variation-title {
      h3 {
        @include em('font-size', 20px);
        line-height: 1;
      }
      p {
        @include _last-child() {
          margin-bottom: 0;
        }
      }
    }
    &.has-variation {
      @include em('font-size', 14px);
    }
    &.has-image {
      .variation-image {
        float: left;
        width: 25%;
        img {
          float: left;
        }
      }
    }
    &.has-description.has-image {
      .variation-title {
        float: right;
        width: 72%;
      }
    }
    .not-in-stock {
      color: white;
      background: color(danger);
      @include em('font-size', 12px);
      font-weight: bold;
      position: relative;
      padding: 10px;
      .float {
        float: left;
        display: block;
        margin-top: -1px;
        width:calc(100% - 20px)
      }
      @include icon(info-circle) {
        float: left;
        width:10px;
        margin-right: 10px;
      }
    }
  } // Add to cart
  .ats-add-to-cart {
    border-top: 1px solid color(border);
    padding-top: spacer(.5);
    margin-top: spacer(.5);
    ul {
      @include scut-list-unstyled();
    }
  }
  /* Images */
  // Main Image in slider
  .product__slider-main {
    position: relative;
    overflow-y: hidden;
    &:before {
      bottom: -20px;
      @extend %transition;
      content: "CLICK TO SEE FULL IMAGE";
      position: absolute;
      width: 100%;
      background: rgba(black, .5);
      color: white;
      left: 0;
      z-index: 20;
      display: block;
      @include em('font-size', 12px);
      text-align: center;
      line-height: 20px;
      height: 20px;
    }
    i {
      @include scut-center-transform(y);
      @extend %transition;
      cursor: pointer;
      background: white;
      padding: 10px 10px 8px 5px;
      z-index: 10;
      margin-top: 15px;
      @include opacity(0);
      &.icon-arrow-thin-left {
        left: -35px;
      }
      &.icon-arrow-thin-right {
        right: -35px;
        padding: 10px 5px 8px 10px;
      }
    }
    @include hover() {
      &:before {
        bottom: 0;
      }
      i {
        @include opacity(1);
        &.icon-arrow-thin-left {
          left: 0;
        }
        &.icon-arrow-thin-right {
          right: 0;
        }
      }
    }
  } // Thumbnails
  .product__slider-thmb {
    & * {
      @extend %transition;
    }
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid color(border);
    position: relative;
    @include hover() {
      i {
        @include opacity(1);
      }
    }
    i {
      @include em('font-size', 14px);
      @include scut-center-transform(y);
      background: black;
      color: white;
      position: absolute;
      cursor: pointer;
      margin-top: 5px;
      z-index: 20;
      padding: 2px 2px 1px 0;
      @include opacity(.5);
      &.icon-arrow-thin-right {
        padding: 2px 0 1px 2px;
        right: 0;
      }
    }
    .slick-slide {
      margin-right: 5px;
      margin-left: 5px;
      outline: none!important;
      @include opacity(.7);
      @include hover() {
        @include opacity(1);
      }
      &.slick-current {
        @include opacity(1);
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          display: block;
          background: color(brand);
        }
      }
    }
  }
  /* Layout */
  .main-left {
    @include span(12);
    @include from(3) {
      @include span(7);
      @include push(5);
    }
  }
  .main-right {
    @include span(12);
    @include to(2) {
      #ats-product-images {
        max-width: 496px;
        margin-right:auto;
        margin-left: auto;
      }
    }
    @include from(3) {
      @include span(5);
      @include pull(12);
    }
  }
}

/* Hide Main price on variable product */

div {
  &.woocommerce-variation-price,
  &.woocommerce-variation-availability,
  &.woocommerce-variation-description,
  &.woocommerce-variation-price,
  &.woocommerce-variation,
  &.woocommerce-variation-availability,
  &.hidden-variable-price {
    @extend %hide;
  }
}
