/*  ********************************************************
 *   Single product settings
 *  ********************************************************
 */

 #single-product-container {
  /* Product Short Description */
  // Product Title
  h2 {
    @include em('font-size', 24px);
    line-height: 1.3;
    position: relative;
    font-weight: bold;
    span {
      position: absolute;
      bottom: -24px;
      font-size: 16px;
      left: 0;
    }
  } // Product Price
  .product-price {
    @include em('font-size', 20px);
    color: color(brand);
    font-weight: bold;
    margin-top: spacer();
    margin-bottom: spacer();
  }
  /* Colleterals */
  .product-top-colleterals {
    border: 1px solid color(border);
    border-left: none;
    border-right: none;
    @include em('font-size', 14px);
    padding: spacer(.5) 0;
    margin: spacer(.5) 0;
    >div {
      float: left;
      width: 50%;
      &.sku {
        text-align: right;
      }
    }
  }
  /* Short description */
  .product-short {
    @include em('font-size', 14px); // margin-bottom: spacer(.5);
    padding-bottom: spacer(.5);
    border-bottom: 1px solid color(border);
    p {
      @include _last-child() {
        margin-bottom: 0;
      }
    }
  }

  /* Variations */
  .variation-wrapper {
    #variation_short {
      p {
        @include _last-child() {
          margin-bottom: 0;
        }
      }
    }
    &.has-variation {
      padding-top: spacer(.5);
      padding-bottom: spacer(.5);
      border-bottom: 1px solid color(border);
    } // Variation Title
    .variation-image {
      width: 28%;
      float: left;
      margin-right: 5%;
      margin-top: spacer(.5);
      &.has-description {
        margin-top: 0;
        img {
          margin-bottom: 10px;
        }
      }
    }
    @include em('font-size', 14px);
    h3 {
      @include em('font-size', 18px);
    }
    img {
      float: left;
      &.has-variation {
        margin-bottom: 10px;
      }
    }
  }
  #variation_stock {
    .not-in-stock {
      margin-top: spacer(.5);
      background: color(danger);
      padding: 10px;
      @include em('font-size', 12px);
      color: white;
      p {
        @extend %hide;
      }
    }
  }

  /* Images */
  // Main Image in slider
  .product__slider-main {
    position: relative;
    overflow-y: hidden;
    &:before {
      bottom: -20px;
      @extend %transition;
      content: "CLICK TO SEE FULL IMAGE";
      position: absolute;
      width: 100%;
      background: rgba(black, .5);
      color: white;
      left: 0;
      z-index: 20;
      display: block;
      @include em('font-size', 12px);
      text-align: center;
      line-height: 20px;
      height: 20px;
    }
    i {
      @include scut-center-transform(y);
      @extend %transition;
      cursor: pointer;
      background: white;
      padding: 10px 10px 8px 5px;
      z-index: 10;
      margin-top: 15px;
      @include opacity(0);
      &.icon-arrow-thin-left {
        left: -35px;
      }
      &.icon-arrow-thin-right {
        right: -35px;
        padding: 10px 5px 8px 10px;
      }
    }
    @include hover() {
      &:before {
        bottom: 0;
      }
      i {
        @include opacity(1);
        &.icon-arrow-thin-left {
          left: 0;
        }
        &.icon-arrow-thin-right {
          right: 0;
        }
      }
    }
  } // Thumbnails
  .product__slider-thmb {
    & * {
      @extend %transition;
    }
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid color(border);
    position: relative;
    @include hover() {
      i {
        @include opacity(1);
      }
    }
    i {
      @include em('font-size', 14px);
      @include scut-center-transform(y);
      background: black;
      color: white;
      position: absolute;
      cursor: pointer;
      margin-top: 5px;
      z-index: 20;
      padding: 2px 2px 1px 0;
      @include opacity(.5);
      &.icon-arrow-thin-right {
        padding: 2px 0 1px 2px;
        right: 0;
      }
    }
    .slick-slide {
      margin-right: 5px;
      margin-left: 5px;
      outline: none!important;
      @include opacity(.7);
      @include hover() {
        @include opacity(1);
      }
      &.slick-current {
        @include opacity(1);
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          display: block;
          background: color(brand);
        }
      }
    }
  }
  /* Layout */
  .main-left {
    @include span(5);
  }
  .main-right {
    @include span(7);
  }
}





/* Hide Main price on variable product */

div {
  &.woocommerce-variation-price,
  &.woocommerce-variation-availability,
  &.woocommerce-variation-description,
  &.woocommerce-variation-price,
  &.woocommerce-variation,
  &.woocommerce-variation-availability,
  &.hidden-variable-price {
    @extend %hide;
  }
}
