/*  ********************************************************
 *   Single product settings
 *  ********************************************************
 */

/* Layout */

#single-product-container {
  .main-left, .main-right {
    @include span(6);
  }
}
