/*  ********************************************************
 *   Product sorting styles
 *  ********************************************************
 */

 #product-sort {
  /* View switcher */
  ul {
    @include scut-list-inline();
    li {
      margin-right: 10px;
      span {
        $box-size: 30px;
        font-size: $box-size - 10px;
        display: block;
        border: 1px solid color(gray-lightest);
        width: $box-size;
        height: $box-size;
        line-height: $box-size;
        text-align: center;
        cursor: pointer!important;
        @extend %transition;
        &.active {
          background: color(text);
          color: white;
        }
      }

      @include _last-child() {
        margin-right: 0;
      }
    }
  }
  /* Topography */
  .left,
  .right {
    @include span(6)
  }

}
