/*  ********************************************************
 *   Product sorting styles
 *  ********************************************************
 */

 #product-sort {
  $box-size: 30px;
  margin-top: - spacer(.5);
  .container {
    border-bottom: 1px solid color(border);
    margin-bottom: spacer(.5);
    padding-bottom: spacer(.5);
  }
  &+.message-container {
    margin-bottom: spacer(.5);
  }
  /* View switcher */
  ul {
    @include scut-list-inline();
    li {
      margin-right: 10px;
      span {
        font-size: $box-size - 10px;
        display: block;
        border: 1px solid color(border);
        width: $box-size;
        height: $box-size;
        line-height: $box-size;
        text-align: center;
        cursor: pointer!important;
        @extend %transition;
        &.active {
          background: color(text);
          color: white;
          border-color: color(text);
        }
      }

      @include _last-child() {
        margin-right: 0;
      }
    }
  }
  select {
    background: white;
    outline: none!important;
    border: none;
    width: 100%;
    height: $box-size + 2px;
    @include em('font-size', 14px);
    border: 1px solid color(border);
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: color(text);
    padding: 0 8px;
  }
  .right {
    position: relative;
    @include icon(caret-down) {
      right: 10px;
      @include scut-center-transform(y);
    }
  }
  .pagination {
    ul {
      @include em('font-size', 14px);
      li {
        width: $box-size;
        height: $box-size;
        line-height: $box-size;
        i {
          line-height: $box-size;
          @include em('font-size', 12px);
          &.chevron-left {
            float: left;
          }
          &.chevron-right {
            float: right;
          }
        }
        a,
        span {
          text-align: center;
          font-size: 14px;
          display: block;
          float: left;
          width: $box-size;
          height: $box-size;
          line-height: $box-size;
          border: 1px solid transparent;
        }
        span {
          border-color: color(border);
          font-weight: bold;
        }
        a {
          @include hover() {
            background:color(text);
            color:white!important;
          }
        }
      }
    }
  }
  /* Topography */
  @include from(1) {
    .left {
      @include span(5);
    }
    .right {
      @include span(7);
    }
    .pagination {
      display: none;
    }
  }
  @include from(2) {
    .left {
      @include span(2);
    }
    .right {
      @include span(5);
      @include push(5);
    }
    .pagination {
      @include span(5);
      @include pull(10);
      display: block;
      margin-top: 0;
    }
  }
  @include from(3) {
    .left {
      @include span(2);
    }
    .right {
      @include span(3);
      @include push(7);
    }
  }
}
