/*  ********************************************************
 *   Product sorting styles
 *  ********************************************************
 */

 #product-sort {
  $box-size: 30px;
  margin-top: - spacer(.5);
  .container {
    border-bottom:1px solid color(border);
    margin-bottom: spacer(.5);
    padding-bottom: spacer(.5);
  }
  & + .message-container {
    margin-bottom: spacer(.5);
  }
  /* View switcher */
  ul {
    @include scut-list-inline();
    li {
      margin-right: 10px;
      span {
        font-size: $box-size - 10px;
        display: block;
        border: 1px solid color(border);
        width: $box-size;
        height: $box-size;
        line-height: $box-size;
        text-align: center;
        cursor: pointer!important;
        @extend %transition;
        &.active {
          background: color(text);
          color: white;
          border-color:color(text);
        }
      }

      @include _last-child() {
        margin-right: 0;
      }
    }
  }
  select {
    background:white;
    outline:none!important;
    border:none;
    width: 100%;
    height:$box-size + 2px;
    @include em('font-size', 14px);
    border:1px solid color(border);
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color:color(text);
    padding:0 8px;
  }
  .right {
    position: relative;
    @include icon(caret-down) {
      right: 10px;
      @include scut-center-transform(y);
    }
  }
  /* Topography */

  .left {
    @include span(12);
  }
  .right {
    @include span(12);
  }
  @include from(1) {
    .left {
      @include span(4);
    }
    .right {
      @include span(8);
    }
  }
  @include from(2) {
    .left {
      @include span(7);
    }
    .right {
      @include span(5);
    }
  }
  @include from(4) {
    .left {
      @include span(9);
    }
    .right {
      @include span(3);
    }
  }

}
