// ==== HELPERS ==== //
%center {
  @include scut-center-block;
}

%clx {
  @include scut-clearfix;
}
.clx {
  @extend %clx;
}

%hide {
  @include scut-hide-visually;
}
@mixin hide() {
  @include scut-hide-visually;
}

%transition {
  @include transition(all, 300ms);
}

%container {
  @include container($xxl);
}

.container {
  @extend %container;
  // padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  @include breakpoint(max-width $xxl) {
    @include container(95%);
  }
}

%init-slick {
  visibility: hidden;
  &.slick-initialized {
    visibility:visible;
  }
}
%last-element {
  p,
  li,
  ul,
  table,
  tr,
  td {
    @include _last_child() {
      margin-bottom: 0;
    }
  }
}

%first-element {
  p,
  li,
  ul,
  table,
  tr,
  td {
    @include _first_child() {
      margin-top: 0;
    }
  }
}
.first-last {
  @extend %first-element;
  @extend %last-element;
}
/*  ********************************************************
 *   Helpers
 *   @include scut-list-unstyled;
 *   @include scut-center-transform;
 *   @include scut-center-transform(x);
 *   @include scut-center-transform(y);
 *  ********************************************************
 */
