@font-face {
    font-family: "atsdiamondtools";
    src: url('icons/atsdiamondtools.eot');
    src: url('icons/atsdiamondtools.eot?#iefix') format('eot'),
        url('icons/atsdiamondtools.woff2') format('woff2'),
        url('icons/atsdiamondtools.woff') format('woff'),
        url('icons/atsdiamondtools.ttf') format('truetype'),
        url('icons/atsdiamondtools.svg#atsdiamondtools') format('svg');
}

@mixin icon-styles {
    font-family: "atsdiamondtools";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == Artboard {
        $char: "\E001";
    }
    @if $filename == admin-checked {
        $char: "\E002";
    }
    @if $filename == admin-lock {
        $char: "\E003";
    }
    @if $filename == admin-unchecked {
        $char: "\E004";
    }
    @if $filename == alarm-clock {
        $char: "\E005";
    }
    @if $filename == anchor {
        $char: "\E006";
    }
    @if $filename == arrow-thin-left {
        $char: "\E007";
    }
    @if $filename == arrow-thin-right {
        $char: "\E008";
    }
    @if $filename == caret-down {
        $char: "\E009";
    }
    @if $filename == caret-left {
        $char: "\E00A";
    }
    @if $filename == caret-right {
        $char: "\E00B";
    }
    @if $filename == cart-plus {
        $char: "\E00C";
    }
    @if $filename == check-circle {
        $char: "\E00D";
    }
    @if $filename == chevron-left {
        $char: "\E00E";
    }
    @if $filename == chevron-right {
        $char: "\E00F";
    }
    @if $filename == circle {
        $char: "\E010";
    }
    @if $filename == envelope {
        $char: "\E011";
    }
    @if $filename == facebook {
        $char: "\E012";
    }
    @if $filename == google-plus-g {
        $char: "\E013";
    }
    @if $filename == home {
        $char: "\E014";
    }
    @if $filename == info-circle {
        $char: "\E015";
    }
    @if $filename == linkedin {
        $char: "\E016";
    }
    @if $filename == lock {
        $char: "\E017";
    }
    @if $filename == phone {
        $char: "\E018";
    }
    @if $filename == search {
        $char: "\E019";
    }
    @if $filename == shopping-cart {
        $char: "\E01A";
    }
    @if $filename == th-large {
        $char: "\E01B";
    }
    @if $filename == th-list {
        $char: "\E01C";
    }
    @if $filename == th {
        $char: "\E01D";
    }
    @if $filename == times-circle {
        $char: "\E01E";
    }
    @if $filename == twitter {
        $char: "\E01F";
    }
    @if $filename == user {
        $char: "\E020";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
    &:#{$insert} {
        @if $extend {
            @extend %icon;
        } @else {
            @include icon-styles;
        }
        content: icon-char($filename);
        @content;
    }
}

.icon-Artboard {
    @include icon(Artboard);
}
.icon-admin-checked {
    @include icon(admin-checked);
}
.icon-admin-lock {
    @include icon(admin-lock);
}
.icon-admin-unchecked {
    @include icon(admin-unchecked);
}
.icon-alarm-clock {
    @include icon(alarm-clock);
}
.icon-anchor {
    @include icon(anchor);
}
.icon-arrow-thin-left {
    @include icon(arrow-thin-left);
}
.icon-arrow-thin-right {
    @include icon(arrow-thin-right);
}
.icon-caret-down {
    @include icon(caret-down);
}
.icon-caret-left {
    @include icon(caret-left);
}
.icon-caret-right {
    @include icon(caret-right);
}
.icon-cart-plus {
    @include icon(cart-plus);
}
.icon-check-circle {
    @include icon(check-circle);
}
.icon-chevron-left {
    @include icon(chevron-left);
}
.icon-chevron-right {
    @include icon(chevron-right);
}
.icon-circle {
    @include icon(circle);
}
.icon-envelope {
    @include icon(envelope);
}
.icon-facebook {
    @include icon(facebook);
}
.icon-google-plus-g {
    @include icon(google-plus-g);
}
.icon-home {
    @include icon(home);
}
.icon-info-circle {
    @include icon(info-circle);
}
.icon-linkedin {
    @include icon(linkedin);
}
.icon-lock {
    @include icon(lock);
}
.icon-phone {
    @include icon(phone);
}
.icon-search {
    @include icon(search);
}
.icon-shopping-cart {
    @include icon(shopping-cart);
}
.icon-th-large {
    @include icon(th-large);
}
.icon-th-list {
    @include icon(th-list);
}
.icon-th {
    @include icon(th);
}
.icon-times-circle {
    @include icon(times-circle);
}
.icon-twitter {
    @include icon(twitter);
}
.icon-user {
    @include icon(user);
}
