// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "ATS Diamond Tools"
, theme-author:             "Dom Kapelewski"
, theme-author-uri:         "https://www.redfrogstudio.co.uk"
, theme-description:        "A minimally viable theme made with the WordPress/Gulp starter kit"
, theme-version:            "0.0.1"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-text-domain:        "atsdiamondtools"
, theme-text-domain-path:   "/languages/"
);
