/*  ********************************************************
 *   Add to cart
 *  ********************************************************
 */

$general-height: 50px;
$label-width: 100px;
@mixin buy-button() {
  border: none;
  background: color(gray);
  color: white;
  text-transform: uppercase;
  display: block;
  padding: ($general-height / 4 + 1px) 0 ($general-height / 4 - 1px);
  width: 65%;
  height: $general-height;
  @extend %transition;
  @include border-radius(0);
  font-size: 16px;
  float: right;
  cursor: pointer !important;
  font-weight: bold;
  @include hover() {
    background: color(brand);
  }
  @include to(2) {
    float: none;
    display: block;
    width: 100%;
    margin-top: spacer(1);
    margin-bottom: spacer();
  }
}

/* Add to cart labes settings */

@mixin q-label() {
  @include em("font-size", 12px);
  line-height: $general-height;
  height: $general-height;
  float: left;
  width: $label-width;
  outline: none !important;
}

@mixin q-input() {
  @include border-radius(0);
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid color(border);
  line-height: $general-height - 2px;
  float: right;
  display: block;
  width: calc(100% - #{$label-width + 22px});
  padding: 0 10px;
  margin: 0;
  outline: none !important;
  color: color(text);
  @include em("font-size", 14px);
  display: block;
  background: transparent;
  @content;
}

/* Variations */

ul.variations {
  @include to(2) {
    padding-bottom: 0;
  }
  padding-bottom: 0;
  li {
    @extend %clx;
    margin-bottom: spacer(1);
    @include _last-child() {
      margin-bottom: 0;
    }
    span {
      position: relative;
      &.label {
        @include q-label();
      }
      &.value {
        height: $general-height;
        float: right;
        width: calc(100% - #{$label-width});
        position: relative;
        @include icon(caret-down) {
          right: 10px;
          @include scut-center-transform(y);
          color: color(brand);
          z-index: -1;
        }
        select {
          @include q-input() {
            float: right;
            height: $general-height;
            width: calc(100% - 0);
          }
        }
      }
    }
  }

  .reset_variations {
    display: none;
    visibility: hidden;
    font-weight: bold;
    @include scut-center-transform(y);
    left: -23px;
    color: lighten(color(text), 10%);
    &:hover {
      color: color(danger) !important;
    }
  }
}

.woocommerce-variation-add-to-cart,
.ats-add-to-cart {
  @extend %clx;
  &.woocommerce-variation-add-to-cart-disabled {
    display: none;
  }
  .single_variation_wrap {
  }

  .quantity {
    float: left;
    width: 30%;
    &.hidden {
      display: none;
    }
    @include to(3) {
      float: none;
      width: 100%;
    }
    @extend %clx;
    position: relative;
    span {
      @include scut-center-transform(y);
      @extend %transition;
      position: absolute;
      cursor: pointer !important;
      color: color(brand);
      height: $general-height - 2px;
      line-height: $general-height - 2px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      width: 20px;
      text-align: center;
      @include hover() {
        background: color(border);
        color: color(text);
        border-color: color(border);
      }
      &.plus {
        right: 1px;
      }
      &.minus {
        left: $label-width + 1px;
      }
    }
    label {
      @include q-label();
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input {
      @include q-input();
      text-align: center;
    }
  }
  button {
    float: left;
    @include buy-button();
  }
}

.tiered-pricing-wrapper {
  //
  //   padding: 4px;
  //   border-radius: 15px;
  margin-top: 2rem;
  ul {
    &.tiered-pricing-plain-texts {
      li {
        margin-bottom: 10px;
        padding: 10px;
        background-color: color(gray-lightest);
      }
    }
  }
}
