/*  ********************************************************
 *   Hover Mixin
 *  ********************************************************
 */

 @mixin hover {
  &:hover, &:active, &:focus {
    @content;
  }
}
