/*  ********************************************************
 *   Susy resets
 *  ********************************************************
 */

 @mixin reset($clx:true) {
  margin-right: - gutter();
  margin-left: - gutter();
  @if $clx==true {
    @extend %clx;
  }
}
%susy-reset {
  @include reset( true );
}

.susy-reset {
  @extend %susy-reset;
}
