/*  ********************************************************
 *   Checkout mixins
 *  ********************************************************
 */

 @mixin checkout-input() {
  border: 1px solid color(border);
  display: block;
  padding: 8px 5px;
  width: 100%;
  box-sizing: border-box;
  @include placeholder {
    color: color(gray-light);
    font-size: 14px;
  }
  @content;
}

@mixin checkout-label() {
  display: block;
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-left: 2px;
  .required {
    color: color(danger);
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }
  @content;
}

@mixin text-inputs() {
  textarea,
  &[type="text"],
  &[type="number"],
  &[type="password"],
  &[type="email"],
  &[type="tel"] {
    font-size: 14px;
    color: color(gray);
    @content;
  }
}

@mixin checkbox($icon-off:square, $icon-on:check-square) {
  label.woocommerce-form__label-for-checkbox {
    input[type="checkbox"],
    input[type="radio"] {
      display: none;
      +span {
        display: inline-block;
        @include icon($icon-off) {
          float: left;
          margin-right: 10px;
        }
      }
      &:checked {
        +span {
          @include icon($icon-on);
          color: color(success);
        }
      }
    }
    @content;
  }
}

@mixin woo-headings {
 font-size:18px;
 text-transform: uppercase;
 margin-top: 0;
 line-height: 1;
 margin-bottom: spacer(.5);
 @content;
}

@mixin woo-radio() {
  > label {
   @extend %clx;
   cursor: pointer!important;
   @include icon(circle) {
    float: left;
    margin-right: 10px;
    @content;
  }
}
> input {
  display: none;
  &:checked {
    +label {
      @include icon(check-circle) {
        color: color(success);
      }
      ;
    }
  }
}
}
