/*  ********************************************************
 *   Password reset
 *   account test login :: EoQ7tvVU2G9ZJebeZfwFMK
 *  ********************************************************
 */

 @mixin woo-password-reset() {
  font-size: 14px;
  margin-top: spacer(.5);
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  &:before {
    @extend %transition;
    content: "";
    height: 2px;
    width: 100%;
    background: color(success);
    position: absolute;
    top: -7px;
  }
  &.short:before {
    background: color(danger);
    width: 5%;
  }
  &.bad:before {
    background: color(danger);
    width: 15%;
  }
  &.good:before {
    background: color(warning);
    width: 50%;
  }
  @content;
}

.woocommerce-password-strength {
  @include woo-password-reset();
}
