/*  ********************************************************
  *   Checkout - Basket
  *  ********************************************************
  */

  $borders : 1px solid #ccc!important;
  .woocommerce-checkout {
    &.processing {
      position: relative;
      &:before {
        content:"";
        height: 100%;
        width: 100%;
        position: absolute;
        background: rgba(white, .7);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        z-index: 10000;
      }
      &:after {
        content:"";
        position: absolute;
        @include scut-center-transform();
        width: 187px;
        height: 187px;
        display: block;
        z-index: 10001;
        background:url(img/theme/ring.svg) 50% 50% no-repeat;
      }
    }
    .shop_table {
      thead {
        tr {
          th {
            background-color: #fcfcfc;
            border-right: $borders;
            border-top: $borders;
            border-bottom: $borders;
            &.product-name {
              border-left: $borders;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            border:none!important;
            border-bottom: $borders;
            &.product-name {
              border-right: $borders;
              border-left: $borders;
            }
            &.product-total {
              border-right: $borders;
            }
          }
        }
      }
    }
  }
