/*  ********************************************************
 *   Checkout pages
 *  ********************************************************
 */

 #ats-checkout {
  .woocommerce-billing-fields__field-wrapper {
    @extend %clx;
    @extend %susy-reset;
  }
  /* Billing & Shipping Fields */
  .woocommerce-billing-fields,
  .woocommerce-shipping-fields {
    @include container(100%);
    p {
      @include span(6);
      height: 55px;
      margin-top: 0;
      margin-bottom: spacer(.5);
    }
  }
  /* Billing Fields */
  .woocommerce-billing-fields {}
  /* Shipping Fields */
  .woocommerce-shipping-fields {}
  input {
    @include text-inputs() {
      @include checkout-input();
    }
  }
  label {
    @include checkout-label();
    & + input {
      margin-top:21px;
    }
  }
  /* Topography */
  .left {
    @include span(7);
  }
  .right {
    @include span(5);
  }
}
