/*  ********************************************************
 *   Coupon
 *  ********************************************************
 */

 .coupon-wrapper {
   input.button {
    outline:none!important;
    @include button() {
      @include em('font-size', 12px);
      @include border-radius(0);
      color:white;
      font-weight: bold;
      background: color(text)!important;
      border-color:color(text)!important;
    }
  }
  .coupon {
    label {
      float: left;
      margin-right: 10px;
    }
    input#coupon_code {
      height:30px;
      float: left;
      margin-right: 10px;
      padding-bottom: 1px;
      padding-left: 5px;
      padding-right: 5px;
      @include em('font-size', 13px);
    }
  }
  .update-cart {
    text-align: right;

  }
}


