    /*  ********************************************************
     *   Orders
     *  ********************************************************
     */

     .woocommerce-order-overview {
      margin: 0 0 spacer() 0;
      padding: 0;
      @extend %clx;
      list-style: none;
      li {
        float: left;
        margin-right: 2em;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 1;
        padding: 0 0 2em 0;
        margin-left: 0;
        list-style: none;
        @include _last(1) {
          border: none;
        }
        @include from(2) {
          border-right: 1px dashed color(border);
          padding: 0 2em 0 0;
        }
        strong {
          display: block;
          font-size: 14px;
          margin-top: 5px;
          text-transform: none;
          line-height: 1.5;
          @include from(2) {
            font-size: 16px;
          }
        }
      }
    }

    .woocommerce-view-order {
      h2 {
        font-size: 22px;
      }
    }

    .woocommerce-table__product-name {
      padding: 15px 10px !important;
    }

    .woocommerce-table--order-details {
      margin-top: 15px;
    }

    .woocommerce-MyAccount-orders,
    .woocommerce-table--order-details,
    .woocommerce-MyAccount-paymentMethods,
    .my_account_tracking {
      width: 100%;
      border-left: 1px solid color(border);

      tbody,
      tfoot {
        tr {
          text-align: left;
          font-size: $font-size-sm;
          font-weight: $font-weight-light;
        }
        th,
        td {
          border: 1px solid color(border);
          border-top: none;
          padding: 10px;
          border-left: none;
        }
      }
    }

    .my_account_tracking {
      margin-bottom: 30px;
    }

    .tracking a.button {
      margin: 0 !important;
    }

    .woocommerce-table__product-name a:hover {
      color: lighten(color(brand), 20%) !important;
    }

    .woocommerce-customer-details {
      margin-top: 30px;
      h2 {
        font-size: 22px;
      }
      address {
        font-size: 14px;
      }
      .woocommerce-column--billing-address {
        width: 100%;
        float: none;

        @include from(2) {
          width: 48%;
          float: left;
        }
      }

      .woocommerce-column--shipping-address {
        width: 100%;
        float: none;
        @include from(2) {
          width: 48%;
          float: right;
        }
      }
    }
