/*  ********************************************************
 *   Select2 overrides
 *  ********************************************************
 */

 html,
 body {
  * {
    outline: none!important; // box-sizing: border-box;
  }
}

body {
  .select2-container--default .select2-selection--single {
    @include border-radius(0);
    padding: 0;
    margin: 0;
    height: 34px;
    border-color: $use--heding-border-colour;
    .select2-selection__rendered {
      line-height: 32px;
    }
  }
  .select2-container {
    width: 100%!important;
    @include em('font-size', 14px);
  }
  .select2-container--default .select2-search--dropdown {
    padding: 0;

    .select2-search__field {
      border: none;
      background-color: lighten($use--heding-border-colour, 3%);
      padding: 5px!important;
    }
  }
  .select2-results__option--highlighted {
    background-color: lighten(color(text), 60%)!important;
    color: color(text)!important;
  }
  .select2-dropdown {
    border: 1px solid $use--heding-border-colour;

    @include border-radius(0);
    li {
      &.select2-results__option {
        @include em('font-size', 13px);
      }
    }
  }
}
