/*  ********************************************************
 *   Footer styles
 *  ********************************************************
 */

 #footer {
  margin-top: spacer();
  .tax-product_cat & {
    margin-top: 0;
  }
  padding: spacer() 0 0;
  @include em('font-size', 14px);
  background: color(gray-lightest);
  .footer-item {
    h3 {
      @include em('font-size', 14px);
      text-transform: uppercase;
      font-weight: bold;
      color: darken(color(brand), 15%);
    }
    ul {
      @extend %scut-list-unstyled;
      li {
        &.active {
          font-weight: bold;
        }
        a {
          padding: 13px 0;
          display: block;
          color: color(text);
          &:hover {
            color: color(brand);
            padding-left: 5px;
          }
        }
      }
    }
    /* Shop categoties */
    &:nth-child(2) {
      ul {
        @extend %clx;
        li {
          width: 50%;
          float: left;
        }
      }
    }
    /* Social Medias */
    &:nth-child(3) {
      ul {
        @extend %clx;
        li {
          float: left;
          width: (100% / 3);
          text-align: left;
          @include em('font-size', 20px);
        }
      }
    }
  }
  /* Topography */
  .footer-item {
    @include to(3) {
      ul li a {
        padding: 4px 0;
      }
      &:nth-child(3) {
        margin: spacer(.5) 0 spacer(.5);
        padding: spacer(.5) 0 10px;
        text-align: center;
        border: 1px solid darken(color(gray-lightest), 10%);
        border-right: none;
        border-left: none;
        @include span(12);
        ul {
          @include container(50%);
          li {
            text-align: center;
          }
        }
      }
      @include _first-child() {
        @include span(5);
      }
      &:nth-child(2) {
        @include span(7);
      }
      @include _last-child() {
        @include span(12);
        img {
          max-width: 200px;
          margin: auto;
          display: block;
          width: auto!important;
        }
        p {
          text-align: center;
          margin: 10px 0;
          @include em('font-size', 12px);
        }
        br {
          display: none;
        }
        small {
          display: block;
        }
      }
    }
    /* Topography */
    @include from(4) {
      @include span(2);
      @include _even() {
        @include span(4);
      }
      @include _last-child() {
        @include pull(12);
      }
      @include _first-child() {
        @include push(4)
      }
    }
  }
}


/**
 * Copyright
 * ---
 */

 .copyright {
  .container {
    padding: spacer(1) 0;
    margin-top: spacer(.5);
    border-top: darken(color(gray-lightest), 10%) 2px solid;
  }
  @include em('font-size', 14px);
  .left,
  .right {
    @include span(6)
  }
  .bottom-nav-container {
    display: inline-block;
    margin-left: 20px;
  }
  p {
    margin: 0;
    text-align: right;
  }
  a {
    color: color(text);
    &:hover {
      color: color(brand);
    }
  }
  ul {
    @include scut-list-inline(15px);
  }
  @include to(3) {

    .left,
    .right {
      text-align: center;
      .bottom-nav-container {
        display: block;
        margin: spacer(.25) auto;
      }
      * {
        text-align: center;
      }
      @include span(12);
    }
  }
}
