/*  ********************************************************
 *   Footer styles
 *  ********************************************************
 */

#footer {
  margin-top: spacer();
  padding: spacer() 0 0;
  @include em('font-size', 14px);
  background: color(gray-lightest);
  .footer-item {
    h3 {
      @include em('font-size', 14px);
      text-transform: uppercase;
      font-weight: bold;
      color: darken(color(brand), 15%);
    }
    ul {
      @extend %scut-list-unstyled;
      li {
        &.active {
          font-weight: bold;
        }
        a {
          padding: 13px 0;
          display: block;
          color: color(text);
          &:hover {
            color: color(brand);
            padding-left: 5px;
          }
        }
      }
    }
    /* Shop categoties */
    &:nth-child(2) {
      ul {
        @extend %clx;
        li {
          width: 50%;
          float: left;
        }
      }
    }
    /* Social Medias */
    &:nth-child(3) {
      ul {
        @extend %clx;
        li {
          float: left;
          width: (100% / 3);
          text-align: left;
          @include em('font-size', 20px);
        }
      }
    }
  }
  /* Topography */
  .footer-item {
    @include to(3) {
      ul li a {
        padding: 4px 0;
      }
      &:nth-child(3) {
        margin: spacer(.5) 0 spacer(.5);
        padding: spacer(.5) 0 10px;
        text-align: center;
        border: 1px solid darken(color(gray-lightest), 10%);
        border-right: none;
        border-left: none;
        @include span(12);
        ul {
          @include container(50%);
          li {
            text-align: center;
          }
        }
      }
      @include _first-child() {
        @include span(5);
      }
      &:nth-child(2) {
        @include span(7);
      }
      @include _last-child() {
        @include span(12);
        img {
          max-width: 200px;
          margin: auto;
          display: block;
          width: auto!important;
        }
        p {
          text-align: center;
          margin: 10px 0;
          @include em('font-size', 12px);
        }
        br {
          display: none;
        }
        small {
          display: block;
        }
      }
    }
    /* Topography */
    @include from(4) {
      @include span(2);
      @include _even() {
        @include span(4);
      }
      @include _last-child() {
        @include pull(12);
      }
      @include _first-child() {
        @include push(4)
      }
    }
  }
}

/**
 * Copyright
 * ---
 */

.copyright {
  .container {
    padding: spacer(1) 0;
    margin-top: spacer(.5);
    border-top: darken(color(gray-lightest), 10%) 2px solid;
  }
  @include em('font-size', 14px);
  .left, .right {
    @include span(6)
  }
  .bottom-nav-container {
    display: inline-block;
    margin-left: 20px;
  }
  p {
    margin: 0;
    text-align: right;
  }
  a {
    color: color(text);
    &:hover {
      color: color(brand);
    }
  }
  ul {
    @include scut-list-inline(15px);
  }
  @include to(3) {
    .left, .right {
      text-align: center;
      .bottom-nav-container {
        display: block;
        margin: spacer(.25) auto;
      }
      * {
        text-align: center;
      }
      @include span(12);
    }
  }
}

/* Footer signup */

#footer-signup {
  $height: 40px;
  margin-top: spacer();
  padding-bottom: 75px;
  line-height: $height;
  position: relative;
  text-align: center;
  @include from(2) {
    padding-bottom: 45px;
  }
  @include from(4) {
    text-align: right;
  }
  &:before {
    content: "";
    width: 20000px;
    left: -10000px;
    height: 1px;
    display: block;
    position: absolute;
    background: color(border);
    top: - spacer();
  }
  p {
    margin: 0;
    line-height: $height;
    text-transform: uppercase;
    font-weight: bold;
    @include em('font-size', 14px);
  }
  label {
    display: none;
  }
  input {
    &[type="submit"] {
      float: left;
      height: $height;
      width: $height;
      line-height: $height;
      border: none;
      border-radius: 0;
      font-weight: bold;
      color: color(brand);
      cursor: pointer;
    }
    &[type="email"], &[type="text"] {
      float: left;
      width: calc(100% - 60px);
    }
  }
  @include from(4) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    >div {
      float: left;
      width: 48%;
      @include _first-child() {
        text-align: left;
      }
      @include _last-child() {
        float: right;
      }
    }
  }
  #field_1_2 {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    line-height: 1.1;
    font-size: 11px;
    text-align: left;
    @include from(2) {
      bottom: -5px;
    }
    a {
      color: #721fa2;
    }
    .ginput_container_checkbox {
      margin-bottom: 8px;
    }
    label, .gfield_description {
      display: inline;
      padding: 0;
      font-size: 11px;
      font-weight: 400;
      line-height: 1.1;
    }
    .gfield_description {
      transform: translateY(5px);
    }
    label.gfield_label {
      display: none;
    }
  }
}
