/****************************************
*****************************************
DROPDOWN EXTENSION
This extension provides the use of
dropdowns in navigation.
*****************************************
****************************************/

/*=== DROPDOWN ========================*/
.nav-dropdown {
  min-width: $nav-dd-min-width;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  list-style: none;
  z-index: 98;
  white-space: nowrap;
}

.navigation-portrait .nav-dropdown {
  width: 100%;
  position: static;
  left: 0;
}

.nav-dropdown .nav-dropdown {
  left: 100%;
}

.nav-menu > li > .nav-dropdown {
  // border-top: solid 1px #f0f0f0;
}

/* Dropdown items */
.nav-dropdown > li {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  text-align: left;
}

.nav-dropdown > li > a {
  width: 100%;
  padding: $nav-dd-a-padding-top $nav-dd-a-padding-right $nav-dd-a-padding-bottom $nav-dd-a-padding-left;
  display: inline-block;
  text-decoration: none;
  float: left;
  font-size: $nav-dd-font-size;
  color: nav_color(link-dd-color);
  background-color: nav_color(link-dd-background-color);
  transition: color $nat-dd-transition-speed, background $nat-dd-transition-speed;
}

.nav-dropdown {
  > li {
    > a {
      &:hover, &:active, &:focus {
        background-color: nav_color(link-dd-background-color-hover);
        color: nav_color(link-dd-color-hover);

        .submenu-indicator-chevron {
          border-color: transparent nav_color(link-dd-color-hover) nav_color(link-dd-color-hover) transparent;
        }
      }
    }

    &.active, &.current-menu-ancestor {
      background-color: nav_color(link-dd-background-color-active);

      > a, > a:hover, > a:active, > a:focus {
        color: nav_color(link-dd-color-active);
        background-color: nav_color(link-dd-background-color-active);

        .submenu-indicator-chevron {
          border-color: transparent nav_color(link-dd-color-active) nav_color(link-dd-color-active) transparent;
        }
      }
    }
  }
}

/* Dropdown to left */
.nav-dropdown.nav-dropdown-left {
  right: 0;
}

.nav-dropdown > li > .nav-dropdown-left {
  left: auto;
  right: 100%;
}

.navigation-landscape .nav-dropdown-left > li > a {
  text-align: right;
}

/* Dropdown indentation (until the fifth level) */
.navigation-portrait .nav-dropdown > li > a {
  padding: 12px 20px 12px 30px;
}

.navigation-portrait .nav-dropdown > li > ul > li > a {
  padding-left: 50px;
}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > a {
  padding-left: 70px;
}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > a {
  padding-left: 90px;
}

.navigation-portrait .nav-dropdown > li > ul > li > ul > li > ul > li > ul > li > a {
  padding-left: 110px;
}

/*=== SUBMENU INDICATORS ==============*/
.nav-dropdown .submenu-indicator {
  right: $nav-dd-chevron-margin-right;
  top: $nav-dd-chevron-margin-top;
  position: absolute;
}

.navigation-portrait .submenu-indicator {
  right: 0;
  top: 0;
}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// .nav-dropdown > li:hover > a .submenu-indicator-chevron,
// .nav-dropdown > .focus > a .submenu-indicator-chevron {
//   border-color: transparent #A0D468 #A0D468 transparent;
// }

/* Submenu indicator to left */
.navigation-landscape .nav-dropdown-left .submenu-indicator {
  left: 10px;
}

.navigation-landscape .nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
