/*  ****************************************************************************
 *   Buttons mixins
 *  ***************************************************************************
 */

 @mixin button( $color: color(brand), $size: "medium") {
  border: 1px solid $color;
  display: inline-block;
  padding-bottom: 1px;
  text-transform: uppercase;
  background-color: $color;
  color: white;
  @if $size=="medium" {
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    @include em('font-size', 14px);
  }
  @elseif $size=="batch" {
    line-height: 20px;
    height: 20px;
    padding: 0 5px;
    @include em('font-size', 12px);
  }
  @include hover() {
    color: white!important;
    background-color: darken($color, 10%)
  }
  &.outline {
    background-color: transparent;
    color: $color;
  }
  &.product_type_variable {
    background-color: lighten($color, 15%);
    border-color: lighten($color, 15%);
  }
  @content;
}
