/*  ********************************************************
 *   Page header
 *  ********************************************************
 */

header#page-header {
  color: white;
  padding: spacer() 0;
  margin: 0 0 spacer() 0;
  @include nav-break() {
    padding: 25px 0 20px;
  }
  &.has-image {
    position: relative;
    .container {
      z-index: 10;
      position: relative;
    }
    &:after {
      content: "";
      background: rgba(black, 0.8);
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
  &.no-image {
    color: color(text);
    background: color(gray-lightest);
    a {
      color: lighten(color(text), 10%);
    }
  }
  h1 {
    width: 50%;
    margin-top: -12px;
    float: left;
    display: block;
    margin-bottom: 0;
  }
  .header-description {
    clear: both;
    float: left;
    width: 75%;
    margin-top: spacer(0.5);
    p {
      @include _only() {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  a {
    color: rgba(white, 0.6);
  }
  .page-breadcrumbs {
    float: left;
    margin-top: spacer(0.5);
    @include nav-break() {
      margin-top: 10px;
      text-align: center;
    }
    margin-bottom: -1px;
    clear: both;
    @include em("font-size", 12px);
    font-style: italic;
  }
  @include to(4) {
    .header-description,
    h1 {
      width: 100%;
      @include em("font-size", 20px);
      font-weight: bold;
    }
    .header-description {
      @include em("font-size", 14px);
    }
  }
}
.snow {
  background-image: url(img/theme/show-1.png), url(img/theme/show-2.png),
    url(img/theme/show-3.png);
  animation: snow 30s linear infinite;
  background-color: color(brand);
}
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
#chrismtas-note {
  padding: 10px 5%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  a {
    color: white;
    // text-decoration: underline;
    display: inline-block;
    background: white;
    padding: 2px 5px 3px;
    border-radius: 3px;
    color: color(brand);
    @extend %transition;
    &:hover {
      background: black;
      color: white !important;
    }
  }
  p {
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    @include breakpoint(max-width $md) {
      font-size: 12px;
    }
  }
}
.corona {
  background-color: #434343;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
#corona-note {
  padding: 10px 5%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  a {
    color: white;
    display: inline-block;
    background: white;
    padding: 2px 5px 3px;
    border-radius: 3px;
    color: color(brand);
    @extend %transition;
    &:hover {
      background: black;
      color: white !important;
    }
  }
  p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    @include breakpoint(max-width $md) {
      font-size: 12px;
    }
  }
}

#header-middle {
  .container {
    position: relative;
  }
}
.countdown-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  &.hidden {
    ul {
      display: none;
    }
    .truck {
      border-radius: 3px;
    }
  }
  &.multi {
    ul {
      border-radius: 0 3px 3px 3px;
    }
  }
  .truck {
    padding: 10px;
    height: 20px;
    color: white;
    background: color(gray-dark);
    border-radius: 3px 0 0 3px;
    margin-right: 1px;
    cursor: pointer;
    &:hover {
      background-color: color(brand);
    }
  }
  ul {
    margin: 0 !important;
    background-color: color("brand");
    padding: 10px;
  }
  li {
    @include scut-list-unstyled();
    color: white;
    border-bottom: 1px solid rgba(white, 0.2);
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: right;
    @include _last-child() {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    div {
      margin: 0;
      &.first-line {
        font-size: 18px;
      }
      &.second-third {
        font-size: 12px;
      }
    }
  }
}
